@model DoctorAppointment


 <form method="post" asp-action="Apply" asp-controller="Doctor" class="d-flex flex-column align-items-center">
                       <input type="date" asp-for="Date"  class="my-3"/>
                       <input type="time" asp-for="Time"  class="my-3"/>
                        <button
                      class="cutomerscount d-flex w-100 text-center justify-content-center btn btn-light"
                      type="submit"
                      style="
                        color: #1596aa;
                        font-weight: 800;
                        cursor: pointer;
                        text-decoration: none;
                      "
                      >
                      Apply
                     </button
                    >
</form>