<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Doctor</title>
    <!-- Browser Icon -->
    <link rel="icon" type="x-icon" href="~/assets/images/mainlogo2.png" />
    <!-- Browser Icon -->

    <link rel="stylesheet" href="~/assets/css/style.css" />
  </head>
  <body>
    <!-- Header Start -->
    <nav class="navbar">
      <a class="logo">
        <i class="fa-solid fa-stethoscope"></i>
      </a>
      <div class="push-left">
        <button id="menu-toggler" data-class="menu-active" class="hamburger">
          <span class="hamburger-line hamburger-line-top"></span>
          <span class="hamburger-line hamburger-line-middle"></span>
          <span class="hamburger-line hamburger-line-bottom"></span>
        </button>

        <!--  Menu compatible with wp_nav_menu  -->
        <ul id="primary-menu" class="menu nav-menu">
          <li class="menu-item current-menu-item">
            <a class="nav__link" asp-action="register" asp-controller="account">Register</a>
          </li>
          <li class="menu-item"><a class="nav__link" asp-action="login" asp-controller="account">Login</a></li>
        </ul>
      </div>
    </nav>
    <!-- Header End -->

    <main>
     @RenderBody()
    </main>

     <marquee>
            <div class="news-ticker d-flex my-5">
              <p style="background:#1596AA" class="py-5 px-5 text-light"><span class="badge"></span>Better Doctors. Better Care.</p>
              <p style="background:#1596AA" class="py-5 px-5 text-light mx-5"><span class="badge badge-tech"></span>Health is precious – Protect it.</p>
              <p style="background:#1596AA" class="py-5 px-5 text-light"><span class="badge"></span>We Take Your Health Seriously.</p>
            </div>
          </marquee>

    <!-- Footer Start -->
    <section class="contact-area mt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><i class="fa-solid fa-stethoscope" style="font-size: 100px; color:white"></i></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                        <div class="hr"></div>
                        <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
                        <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-behance"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============== 1.9 Contact Area End ====================-->
    <!-- =============== 1.9 Footer Area Start ====================-->
    <footer>
        <p>Copyright &copy; 2022  All Rights Reserved.</p>
    </footer>
    <!-- Footer End -->

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts",required:false)
  </body>
</html>
